body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 50px;
}

.title-logo {
	margin-top: 20px;
}

hr {
	height: 5px;
	background-color: #747704;
}

.modal-body {
	font-family: arial, sans-serif;
	color: black;
}